<!DOCTYPE html>
<html>
<head>
  <title>Events</title>
  <link rel="shortcut icon" href="../images/logo1_bQI_icon.ico"/>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<style>
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.footer1 {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #ffcc66 48%, #ff9933 92%);
   color: black;
    text-align: center;
}
.bg1{
  background-color: #dcdcff;
  font-family: 'Amaranth', sans-serif;
}


</style>


</head>
<body class="bg1">
    <header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../index.html" class="navbar-brand"  style="    color: #a02d00;"><img id="logo" style="max-width: 22px ;"src="../images/logo1.png" lt="ananda dhawni Logo">Ananda Dhwani</a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="bs-nav-demo">
        <ul class="nav navbar-nav" >
          <li><a href="../index.html" style="color: black"> Home </a> </li>
          <li><a href="events.html" style="color: black">Events</a></li>
          <li><a href="gallery.html"style="color: black">Gallery</a></li>
          
    <!--       <li><a href="contact.html"style="color: black">CONTACT</a></li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <h2>Upcoming Events</h2>
<!-- <p>In this example we have added a "plus" sign to each button. When the user clicks on the button, the "plus" sign is replaced with a "minus" sign.</p> -->
<button class="accordion ">August Last week 2018 : Talent Search</button>
<div class="panel ">
 <p><strong>Slots:</strong></p>
          <ul>
            <li>Slot 1: Bharat Natyam/Oddissi</li>
            <li>Slot 2: Hindustani Vocal</li>
            <li>Slot 3: Tabla</li>
            <li>Slot 4: Karnatic Vocal</li>
          </ul>
          <p><strong>Judges:</strong> Yavagalji / Vinayak Todiji / Parameshwar hegdeji / Arun Anant Krishna / Kiran Subramanium / Madhulikaji</p>
          <p><strong>Rules:</strong>5 minutes to each participant</p>
          <p><strong>Venue:</strong>Forum Value Mall, Whitefield</p>
          <p><strong>* Participation Certificates will be handed over at the venue by the judge</strong></p>
</div>

<button class="accordion">Sep 15 2018 : Baithaki plus prize distribution</button>
<div class="panel">
 <ul>
            <li>Baithiki by winners of Talent Search (30 min)</li>
            <li>Prize Distribution to winners of Talent Search by DG Karnataka(30 min)</li>
          </ul>
        <p><strong>Venue:</strong>Palm Meadows Amenities/ White M /Orzuv Cafe</p>
</div>

<button class="accordion">Nov 17 2018 :Whitefield Music Festival(DAY 1)</button>
<div class="panel">
  <ul>
            <li>AD Ensemble (20 min)</li>
            <li>Chow / Kathakali Jugal bandi (60 min)</li>
             <li>Mysore Manjunath violin /Murad Ali Sarangi /Ojas Adhiya Tabla/Praveen Mridangam</li>
          </ul>
          <p><strong>Venue:</strong>Whitefield Inner Circle</p>
</div>
<button class="accordion">Nov 18 2018 :Whitefield Music Festival(DAY 2)</button>
<div class="panel">
  <ul>
   <li>Ensemble (2hr 30min)</li>
            <li>Suma Sudhindhra veena</li>
             <li>Prabir Sitar</li>
             <li>Shubhankar Banerjee Tabla</li>
             <li>Ghatam artiste TBD</li>
          </ul>
          <p><strong>Venue:</strong>Whitefield Inner Circle</p>
</div>
<button class="accordion">March 2019 : Book Release/CD Release /Basant Baithak</button>
<div class="panel">
  <ul>
            <li>Book Release/Baithaki (30 min)</li>
          </ul>
          <p><strong>Venue:</strong>Orzuv Cafe/Palm M</p>
</div>
</div>














<!-- <div class="container">
<div class="main-content">
  <h2 class="heading" id="heading1">Upcoming Events</h2>
  <div class="panel-group" id="accordion" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">August Last week 2018 : Talent Search</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in active">
        <div class="panel-body">
           <p><strong>Slots:</strong></p>
          <ul>
            <li>Slot 1: Bharat Natyam/Oddissi</li>
            <li>Slot 2: Hindustani Vocal</li>
            <li>Slot 3: Tabla</li>
            <li>Slot 4: Karnatic Vocal</li>
          </ul>
          <p><strong>Judges:</strong> Yavagalji / Vinayak Todiji / Parameshwar hegdeji / Arun Anant Krishna / Kiran Subramanium / Madhulikaji</p>
          <p><strong>Rules:</strong>5 minutes to each participant</p>
          <p><strong>Venue:</strong>Forum Value Mall, Whitefield</p>
          <p><strong>* Participation Certificates will be handed over at the venue by the judge</strong></p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Sep 15 2018 : Baithaki plus prize distribution</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse active">
        <div class="panel-body">
          <ul>
            <li>Baithiki by winners of Talent Search (30 min)</li>
            <li>Prize Distribution to winners of Talent Search by DG Karnataka(30 min)</li>
          </ul>
        <p><strong>Venue:</strong>Palm Meadows Amenities/ White M /Orzuv Cafe</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Nov 17 2018 :Whitefield Music Festival</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse active">
        <div class="panel-body">
          <ul>
            <li>AD Ensemble (20 min)</li>
            <li>Chow / Kathakali Jugal bandi (60 min)</li>
             <li>Mysore Manjunath violin /Murad Ali Sarangi /Ojas Adhiya Tabla/Praveen Mridangam</li>
          </ul>
          <p><strong>Venue:</strong>Whitefield Inner Circle</p>
        </div>
      </div>
    </div>
     <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Nov 18 2018 :Whitefield Music Festival</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse  active">
        <div class="panel-body">
          <li>Ensemble (2hr 30min)</li>
            <li>Suma Sudhindhra veena</li>
             <li>Prabir Sitar</li>
             <li>Shubhankar Banerjee Tabla</li>
             <li>Ghatam artiste TBD</li>
          </ul>
          <p><strong>Venue:</strong>Whitefield Inner Circle</p>

        </div>
      </div>
    </div>
     <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">March 2019 : Book Release/CD Release /Basant Baithak</a>
        </h4>
      </div>
      <div id="collapse5" class="panel-collapse collapse active">
        <div class="panel-body">
          <ul>
            <li>Book Release/Baithaki (30 min)</li>
          </ul>
          <p><strong>Venue:</strong>Orzuv Cafe/Palm M</p>
        </div>
      </div>
    </div>
  </div> 
</div> 
</div>
 -->

















    <footer>
     <div class="footer" style=" margin-bottom:0" >
  <h4><strong> © Ananda Dhwani Trust</strong> </h4>
  <p>Developed by<strong>  Naveen Pandurangi</strong> </p>
</div>

  </footer>
  <script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
      <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>