<!DOCTYPE html>
<html>
<head>
	<title>gallery</title>
  
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
 
  <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">

    <link href="../css/jquery.snippet.min.css" rel="stylesheet">


</head>
<body class="body">
  <header>
	<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="../index.html" class="navbar-brand"  style="    color: #a02d00;"><img id="logo" style="max-width: 22px ;"src="../images/logo1.png" lt="ananda dhawni Logo">Ananda Dhwani</a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="bs-nav-demo">
        <ul class="nav navbar-nav" >
          <li><a href="../index.html" style="color: black"> Home </a> </li>

          <li><a href="events.html" style="color: black">Events</a></li>
          <li><a href="gallery.html"style="color: black">Gallery</a></li>
          <!-- <li><a href="about.html">About</a></li> -->

        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container">

  <div>
      <h3> Videos </h3> 
  </div>

    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div>
          <iframe width="270" height="180" src="https://www.youtube.com/embed/iWPqWevfkCM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div>
          <iframe width="270" height="180" src="https://www.youtube.com/embed/0bgwB599olM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div>
          <iframe width="270" height="180" src="https://www.youtube.com/embed/8TeR2PxegsY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div>
         <iframe width="270" height="180" src="https://www.youtube.com/embed/dUUabTwCOzk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
      </div>
      <div>
        <p>
          <a href="https://www.facebook.com/groups/415930812135544/?ref=br_rs">For more Videos Click here <i class="fab fa-youtube fa-1x"></i></i></a>
        </p>
      </div>

    </div>
    <hr class="style1">
  <div class="container">

  <div>
      <h3> Photos </h3> 
  </div>
  <div id="wrapper" class="span10">
<section id="demos">
  
    <div id="easyPaginate">

 <div class="row">
          <img class="imgpage" src="../images/img/8.jpg" >
          <img class="imgpage" src="../images/img/9.jpg">
     
         
          <img class="imgpage" src="../images/img/10.jpg">
      
            
          <img class="imgpage" src="../images/img/2.jpg" >
  
  

  
          <img class="imgpage" src="../images/img/1.jpg" >
       
          <img class="imgpage" src="../images/img/14.jpg">
      
         
          <img class="imgpage" src="../images/img/15.jpg">
  
          <img class="imgpage" src="../images/img/16.jpg">

              

          <img class="imgpage" src="../images/img/17.jpg">

        
          <img class="imgpage" src="../images/img/18.jpg">

       
          <img class="imgpage" src="../images/img/19.jpg">
       
            
          <img class="imgpage" src="../images/img/4.jpg">
      



   
          <img class="imgpage" src="../images/img/5.jpg">
      
  
          <img class="imgpage" src="../images/img/6.jpg">
    
          <img class="imgpage" src="../images/img/12.jpg">
     
          <img class="imgpage" src="../images/img/11.jpg">
      </div>



  <!--    <div class="row">
        <div class="column">
          <img src="../images/img13.jpg" style="width:100%">
      </div>
    </div> -->
   

<!-- <div class="row">
        <div class="column">
        <img src="../images/img/7.jpg" style="width:100%">
        </div>
      </div> -->
</div>
</section>
</div>
</div>


  <footer>
     <div class="footer" style="margin-bottom:0">
 <h4><strong> © Ananda Dhwani Trust</strong> </h4>
  <p>Developed by<strong>  Naveen Pandurangi</strong> </p>
</div>

  </footer>




 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.snippet.min.js"></script>
    <script src="../lib/jquery.easyPaginate.js"></script>
    <script src="../js/scripts.js"></script>
<!-- <script src="https://code.jquery.com/jquery-2.1.4.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>

